<?xml version="1.0" encoding="UTF-8"?>


<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:jee="http://www.springframework.org/schema/jee"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:security="http://www.springframework.org/schema/security"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
    http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
    http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    
    <bean id="authenticationProvider" class="com.unitedinternet.calendar.security.DummyAuthenticationProvider"/>
     
     <bean id="mariaDbService" class="ch.vorburger.mariadb4j.springframework.MariaDB4jSpringService" init-method="start" destroy-method="stop">
     	<property name="defaultBaseDir" value="target/maridb/base"/>
     	<property name="defaultDataDir" value="target/maridb/data"/>
     	<property name="defaultPort" value="33060"/>     	
     </bean>
     
     <bean id="mariaDbSchemaInit" class="com.unitedinternet.calendar.repository.MariaDbSchemaInit" init-method="init">
     	<constructor-arg ref="mariaDbService"/>
     </bean>
    
    <bean id="dataSource" class="org.apache.tomcat.jdbc.pool.DataSource" lazy-init="true" destroy-method="close" depends-on="mariaDbSchemaInit">
         <property name="driverClassName" value="org.mariadb.jdbc.Driver"/>
         <property name="url" value="jdbc:mysql://localhost:33060/cosmo?autoReconnect=true"/>
         <property name="username" value="cosmo"/> 
         <property name="password" value="" />
         <property name="maxActive" value="100"/> 
         <property name="maxIdle" value="20" />
         <property name="maxWait" value="10000"/>
         <property name="testOnBorrow" value="true" />
         <property name="validationQuery" value="SELECT 1;"/>
    </bean>
       
    <bean id="dataSourceProvider" class="com.unitedinternet.calendar.repository.MariaDbDataSourceProvider">
        <constructor-arg ref="dataSource"/>        
    </bean>
    
    <bean class="org.unitedinternet.cosmo.service.interceptors.LoggingEventAddHandler"/>
        
</beans>