<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="@begenda.web.client.logback.debug">
	<contextName>cosmo</contextName>

	<!-- Console Appender -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
		
	</appender>

	<!-- Appender to file named cosmo.log -->
	<appender name="cosmoFileAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${catalina.base}/logs/cosmo.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${catalina.base}/logs/cosmo.log.%d{yyyy-MM-dd}
			</fileNamePattern>
		</rollingPolicy>
		<encoder>
            <charset>UTF-8</charset>
            <Pattern>%d %-4relative [%thread] %-5level %logger{35} - %msg%n</Pattern>
        </encoder>
	</appender>

	<logger name="org.hibernate.engine" level="WARN"/>
	
	<logger name="org.unitedinternet.cosmo" level="INFO" additivity="true">
		<appender-ref ref="cosmoFileAppender" />		
	</logger>

	<!-- ROOT logger setup -->
	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>
