<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <!--
        we don't need these, but we have to override the bean definition from
        applicationContext-services.xml
    -->

    <bean id="propertyPlaceholderConfigurer" class="org.unitedinternet.cosmo.servletcontext.CosmoPropertyPlaceholderConfigurer">
        <property name="locations" value="classpath:/etc/cosmo.properties"/>
        <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE"/>
    </bean>

    <bean id="startupDataInitializers" class="java.util.ArrayList">
        <constructor-arg>
            <list>
                <ref bean="cosmoStartupDataInitializer" />
            </list>
        </constructor-arg>
    </bean>
    
    <bean id = "cosmoStartupDataInitializer" class="org.unitedinternet.cosmo.service.impl.CosmoStartupDataInitializer">
        <property name="rootLoginUrl" value="/account/view" />
        <property name="entityFactory" ref="cosmoEntityFactory" />
        <property name="userService" ref="userService" />
        <property name="serverPropertyService" ref="serverPropertyService" />
    </bean>
    
    <bean id="dbInitializer" class="org.unitedinternet.cosmo.db.DbInitializerFactoryBean">
		<constructor-arg ref="serverPropertyService" />
		<constructor-arg ref="&amp;sessionFactory"/>
		<constructor-arg ref="jdbcDataSource" />
		<constructor-arg value="true" />
		<constructor-arg ref="cosmoStartupDataInitializer"/>
		<constructor-arg ref="externalComponentInstanceProvider"/>
	</bean>
</beans>
