<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="propertyPlaceholderConfigurer"
          class="org.unitedinternet.cosmo.servletcontext.CosmoPropertyPlaceholderConfigurer">
        <property name="locations" value="classpath:etc/application.properties"/>
        <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE"/>
    </bean>

    <import resource="applicationContext-persistence.xml"/>
    <import resource="applicationContext-dao.xml"/>
    <import resource="applicationContext-services.xml"/>    
    <import resource="applicationContext-security-dav.xml"/>
</beans>